<div class="container">
  <div class="row">
    <div class="input-field col s12">
      <p>
        Enter the domain name only.<br>
        For example: DomainPanda<br>
        Instead of: http://domainpanda.com/<br>
        Only checks for: .com, .net, .org, .co, .biz, .mobi
      </p>
      <h3>List of URLs</h3>
      <textarea id="urls" class="materialize-textarea"></textarea>
      <a id="start" class="waves-effect waves-light btn">Check Availability</a>
    </div>
  </div>

  <div class="row">
    <div id="output" class="col s12">
      <h3>Available Domains</h3>
      <div id="results"></div>
    </div>
  </div>
</div>
