// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$nav-colour: #070C22;
$nav-font-colour: ghostwhite;
$button-bg-colour: #E13450;

nav {
  background-color: $nav-colour;
}

nav .brand-logo.center {
  color: $nav-font-colour;
}

.waves-effect, .waves-effect:hover {
  background-color: $button-bg-colour;
}
